@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-Poppins: "Poppins", sans-serif;
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey500: hsl(234, 12%, 34%);
  --Grey400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
  --color-text-dark: var(--Grey500);
  --color-text-light: var(--Grey400);
  --color-supervisor: var(--Cyan);
  --color-teambuilder: var(--Red);
  --color-karma: var(--Orange);
  --color-calculator: var(--Blue);
  --color-four-card-container: var(--White);
}

body {
  min-height: 100vh;
  font-family: var(--ff-Poppins);
  background-color: whitesmoke;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-dark);
  padding-block-end: 0.4rem;
}

p {
  color: var(--color-text-light);
}

.wrapper {
  display: grid;
  place-items: center;
  padding-bottom: 0;

  @media (width >= 60rem) {
    padding: 10rem;
  }
}

.four-card-container {
  background-color: var(--color-four-card-container);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.221);

  h1 {
    font-weight: 200;
    font-size: 1.7rem;
    color: var(--color-text-dark);
    text-align: center;
    line-height: 1.3;
    padding-block-end: 1rem;
  }

  strong {
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--color-text-dark);
  }

  p {
    text-align: center;
    font-size: 1rem;
    padding-block-end: 2.5rem;
  }

  @media (width >= 60rem) {
    max-width: 81.25rem;
    padding: 3rem 6rem;

    .four-card-text {
      width: 34.375rem;
    }
  }
}

.box-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "s" "t" "k" "c";
  gap: 1.5rem;
  grid-auto-rows: 1fr;

  @media (width >=40rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "s t" "k c";
    grid-auto-rows: 1fr;
  }

  @media (width >= 60rem) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". . t t . ." "s s t t c c" "s s k k c c" ". . k k . .";
    gap: 1.5rem;
  }

  .supervisor-container {
    grid-area: s;
    border-top: 5px solid var(--color-supervisor);
  }

  .teambuilder-container {
    grid-area: t;
    border-top: 5px solid var(--color-teambuilder);
  }

  .karma-container {
    grid-area: k;
    border-top: 5px solid var(--color-karma);
  }

  .calculator-container {
    grid-area: c;
    border-top: 5px solid var(--color-calculator);
  }
}

.supervisor-container,
.teambuilder-container,
.karma-container,
.calculator-container {
  border: none;
  padding: 1.5rem 1.2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.221);

  p {
    color: var(--color-text-dark);
    text-align: left;
    font-size: 0.875rem;
    font-weight: 200;
  }

  img {
    display: block;
    justify-self: end;
    margin-bottom: 1.5rem;
  }

  @media (width >= 60rem) {
    img {
      margin-bottom: 0;
    }
  }
}
