@layer fonts {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
}

@layer global {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    font-family: var(--ff-Poppins);
    background-color: whitesmoke;
    margin-bottom: 0;
  }

  h1,
  h2 {
    margin: 0;
  }

  p {
    line-height: 1.3;
  }
}

@layer colors {
  :root {
    --ff-Poppins: "Poppins", sans-serif;
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
    --color-text-dark: var(--Grey500);
    --color-text-light: var(--Grey400);
    --color-supervisor: var(--Cyan);
    --color-teambuilder: var(--Red);
    --color-karma: var(--Orange);
    --color-calculator: var(--Blue);
    --color-four-card-container: var(--White);
  }
}

.wrapper {
  display: grid;
  place-items: center;
  padding-bottom: 0;

  @media (width >= 60rem) {
    padding: 10rem;
  }
}

.main__cards {
  background-color: var(--color-four-card-container);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.221);

  @media (width >= 60rem) {
    max-width: 81.25rem;
    padding: 3rem 6rem;

    .cards--headline {
      width: 34.375rem;
    }
  }
}

.cards--headline {
  text-align: center;
  color: var(--color-text-dark);

  .cards__title--headline {
    font-weight: 200;
    font-size: 1.7rem;
    line-height: 1.3;
    padding-block-end: 1rem;
  }

  .cards__title--headline--strong {
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--color-text-dark);
  }

  .cards__description--headline {
    font-size: 1rem;
    padding-block-end: 2.5rem;
  }
}

.cards__containers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "s" "t" "k" "c";
  gap: 1.5rem;
  grid-auto-rows: 1fr;

  @media (width >= 40rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "s t" "k c";
    grid-auto-rows: 1fr;
  }

  @media (width >= 60rem) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". . t t . ." "s s t t c c" "s s k k c c" ". . k k . .";
    gap: 1.5rem;
  }

  .card__container--supervisor {
    grid-area: s;
    border-top: 5px solid var(--color-supervisor);
  }

  .card__container--teambuilder {
    grid-area: t;
    border-top: 5px solid var(--color-teambuilder);
  }

  .card__container--karma {
    grid-area: k;
    border-top: 5px solid var(--color-karma);
  }

  .card__container--calculator {
    grid-area: c;
    border-top: 5px solid var(--color-calculator);
  }
}

.card__container {
  border: none;
  padding: 1.5rem 1.2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.221);
}

.card__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-dark);
  padding-block-end: 0.4rem;
}

.card__description {
  color: var(--color-text-dark);
  text-align: left;
  font-size: 0.875rem;
  font-weight: 200;
}

.card__img {
  display: block;
  justify-self: end;
  margin-top: 2rem;
  max-width: 100%;
  object-fit: cover;

  @media (width >= 60rem) {
    .card__img {
      margin-bottom: 0;
    }
  }
}
